@font-face {
    font-family: 'YuGothic';
    font-weight: 500;
    src: url('../fonts/yugothic-medium.otf');
}
@font-face {
    font-family: 'YuGothicB';
    font-weight: 700;
    src: url('../fonts/yugothib.ttf');
}
@font-face {
    font-family: 'Yu Mincho';
    src: url('../fonts/yumin.ttf');
}
