.access{
    &__box{
        padding: 30px 30px 0;
        border-top: 2px solid #e7e7e7;

        &__item{
            margin-bottom: 10px;
        }
        .item__meta{padding: 10px 0;}
    }
    &__box2{
        border-width: 2px 0px;
        border-style: solid;
        border-color: #E7E7E7;
        margin-bottom: 40px;
        .item__col{
            &:not(:last-child){
                border-right: 2px solid #e7e7e7;
            }
        }
        &__item{
            padding: 30px;
            .item__title{
                font-size: 18px;
                font-weight: 700;
                color: $color_primary;
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (max-width: 767px){
        &__box{
            padding: 30px 50px 0;
            .item__meta {
                font-size: 21px;
                padding: 20px 0 30px;
            }
        }
        &__box2{
            &__item{
                padding: 40px;
                .item__title{
                    font-size: 27px;
                }
                .item__sub{
                    font-size: 21px;
                }
            }
            .item__col:not(:last-child) {
                border-right: 0;
                border-bottom: 2px solid #e7e7e7;
            }
        }
    }
    @media screen and (max-width: 480px){
        &__box{
            padding: 30px 15px 0;
            .item__meta {
                font-size: 18px;
            }
        }
        &__box2{
            &__item{
                .item__title {
                    font-size: 20px;
                }
                .item__sub {
                    font-size: 16px;
                }
            }
        }
    }
}
