
.main__slider {
    .item__wrap {
        .slider__item__thumb {
            img {
                transform: scale(1.2);
                transition: all 3s;
                transition-delay: 1s;
            }
        }
        &.is-selected {
            .slider__item__thumb {
                img {
                    transform: scale(1);
                }
            }
        }
    }
}

.section {
    padding: 80px 0px;

    .container-custom {
        max-width: 1020px;
        margin: 0 auto;
    }

    @media (max-width: 479px ) {
        padding: 60px 0px;
    }

    &--two {
        @media  ( max-width: 992px ) {
            padding: 60px 0px 80px;
        }
    }

    &--border {
        border-top: 2px solid #e7e7e7;
    }

    &__title {
        margin-bottom: 50px;
        .title {
            font-size: 28px;
            line-height: 40px;
            color: #2e922e;
            margin-bottom: 10px;
        }

        .sub-title {
            font-size: 16px;

            span {
                position: relative;
                display: inline-block;
                padding:  0px 45px;

                &:before, &:after {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    width: 20px;
                    height: 2px;
                    background-color: #8d8d8d;
                }

                &:after {
                    left: auto;
                    right: 0;

                }
            }
        }
        @media ( max-width: 992px ){
            .title {
                font-size: 42px;
                line-height: 60px;
            }
        }
        @media ( max-width: 630px ){
            .title {
                font-size: 32px;
                line-height: normal;
            }
        }
        @media ( max-width: 480px ){
            .title {
                font-size: 26px;
            }
        }

        @media ( max-width: 992px ) and ( min-width: 480px ) {
            .sub-title {
                font-size: 24px;
                line-height: 36px;

                span {
                    padding: 0 55px;
                    &:before, &:after {
                        width: 30px;
                    }
                }
            }
        }
    }

    &--two {
        .two-box {
            max-width: 945px;
            margin: auto;
        }

        .title-2 {
            position: relative;
            text-align: center;
            font-size: 34px;
            letter-spacing: 2px;
            padding-bottom: 10px;
            margin-bottom: 30px;

            &:before {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                content: "";
                width: 20px;
                height: 2px;
                background-color: #2e922e;
            }

            @media ( max-width: 479px ) {
                font-size: 30px;
            }
        }

        .sub {
            text-align: center;
            margin-bottom: 75px;

            @media ( max-width: 479px ) {
                margin-bottom: 50px;
            }
        }

        .text-box {
            .title {
                font-size: 18px;
                text-align: center;
                color: #2e922e;
                margin-bottom: 25px;
                font-weight: 700;
            }
        }
        @media ( max-width: 992px ){
            .sub {
                font-size: 21px;
                line-height: 36px;
                text-align: left;
            }
        }
        @media ( max-width: 992px ) and ( min-width: 480px ) {
            .title-2 {
                font-size: 32px;
                line-height: normal;
            }

            .sub {
                font-size: 21px;
                line-height: 36px;
            }

            .text-box {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
            }
        }

        @media (max-width: 767px) {
            padding: 80px 0px 20px;

            .text-box {
                margin-bottom: 60px;
            }
        }

        @media (max-width: 600px) {
            .text-box {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
            }
        }

        @media (max-width: 479px) {
            padding: 60px 0px 30px;

            // .sub {
            //     br {
            //         display: none;
            //     }
            // }

            .text-box {
                margin-bottom: 40px;
            }
            .sub {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &--opening {
        .description {
            margin-bottom: 65px;
        }

        .box-open {
            position: relative;
            max-width: 592px;
            border: 2px solid #f1f1f1;
            margin: auto;
            padding: 54px 30px 45px;

            .title {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 311px;
                font-weight: 700;
                top: -17px;
                padding: 3px;
                background-color: #328639;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: #fff;
                font-size: 20px;
            }

            .content {
                margin-bottom: 15px;
            }

            .time-open {
                font-size: 13px;
                color: #2e922e;
                letter-spacing: 1.5px;
                font-weight: 700;
            }

            @media ( max-width: 992px ) and ( min-width: 480px ) {
                .time-open {
                    font-size: 19.5px;
                }
            }

            @media ( max-width: 340px ) {
                .title {
                    width: 250px;
                }
                .time-open{
                    letter-spacing: 0;
                }

            }
        }

        .wrap-article {
            padding: 100px 0px 80px;
            display: flex;
            flex-wrap: wrap;

            .article {
                width: 50%;

                &--new {
                    padding-right: 50px;
                }

                &--blog {
                    padding-left: 50px;
                }

                .title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    border-bottom: 2px solid #efefef;
                    padding-bottom: 15px;

                    .left {
                        display: flex;
                        align-items: center;
                        span {
                            font-family: 'Noto Serif JP', serif;
                            color: #2e922e;
                            font-size: 24px;
                            margin-right: 10px;
                        }
                    }

                    a:hover {
                        color: #2e922e;
                    }
                }
            }

            @media (max-width: 992px) {
                border-top: 2px solid #e8e8e8;
                margin-top: 100px;

                .article {
                    width: 100%;

                    &--new {
                        padding-right: 0px;
                        margin-bottom: 40px;
                    }

                    &--blog {
                        padding-left: 0px;
                    }
                }
            }

            @media ( max-width: 992px ) and ( min-width: 480px ) {
                .article {
                    .title {
                        .left {
                            span {
                                font-size: 27px;
                            }
                        }
                        a {
                            font-size: 19.5px;
                        }
                    }
                }
            }

            @media (max-width: 600px) {
                padding: 100px 25px;
                margin: 100px -25px 0px;
            }
            @media (max-width: 479px) {
                padding-bottom: 60px;
                margin-top: 60px;
            }
        }

        @media  ( max-width: 992px ) {
            padding-bottom: 0;
        }
    }

    .list-new {
        li {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 2px solid #efefef;
            padding-right: 80px;
            min-height: 105px;

            .meta {
                font-size: 13px;
                margin-bottom: 5px;
                color: #333333;

                span {
                    padding: 0px 3px;
                    font-size: 11px;
                    border: 1px solid #2e922e;
                    color: #328639;
                }
            }

            a {
                font-size: 13px;

                &:hover {
                    color: #2e922e;
                }
            }
        }

        &.style-2 {
            li {
                display: flex;
                margin-bottom: 26px;
                padding-bottom: 26px;

                .thumb {
                    overflow: hidden;
                    margin-right: 20px;
                    -ms-flex: 0 0 18.5%;
                    flex: 0 0 18.5%;
                    max-width: 18.5%;
                    .dnfix__thumb{
                        padding-top: 75%;
                    }
                    img {
                        // max-width: 90px;
                        transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
                    }

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                .content {
                    width: calc(100% - 110px);
                    margin-top: -6px;
                    line-height: normal;
                }
            }
        }

        @media ( max-width: 992px ) and ( min-width: 480px ) {
            li {
                padding-right: 0;
                .meta {
                    font-size: 19.5px;
                    line-height: 26px;

                    span {
                        font-size: 16.5px;
                    }
                }

                a {
                    font-size: 21px;
                }
            }
        }
        @media (max-width: 767px) {
            &.style-2{
                li{
                    .thumb {
                        margin-right: 30px;
                        -ms-flex: 0 0 28.5%;
                        flex: 0 0 28.5%;
                        max-width: 28.5%;
                        .dnfix__thumb {
                            padding-top: 74%;
                        }
                    }

                    .content {
                        width: calc(100% - 166px);
                        margin-top: 0;
                    }
                    .meta{
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (max-width: 600px) {
            li {
                padding-right: 0;
            }
            &.style-2 {
                li {
                    padding-bottom: 15px;
                    .thumb {
                        margin-right: 15px;
                        margin-bottom: 15px;
                    }

                    .content {
                        width: 100%;
                        margin-top: 0;
                        font-size: 18px;
                    }
                }
            }
        }
        @media (max-width: 380px) {
            &.style-2 {
                li {
                   .meta{margin-bottom: 0;}
                }
            }
        }
    }

    &--calendar {
        padding-top: 0;

        .row {
            align-items: center;
        }

        .section__title {
            margin-bottom: 0;
        }

        .calendar-wrap {
            margin-left: 23px;
            height: 496px;
            background-color: #f6f6f6;
            padding: 40px 30px;
        }

        @media (max-width: 992px) {
            border-top: 2px solid #e8e8e8;
            border-bottom: 2px solid #e8e8e8;
            padding-top: 100px;
            margin-bottom: 35px;

            .section__title {
                margin-bottom: 40px;
            }

            .calendar-wrap {
                height: 394px;
                margin-left: 0;
            }
        }

        @media (max-width: 479px) {
            padding-top: 60px;
            .calendar-wrap {
                padding: 40px 10px;
                height: 339px;
            }

        }
    }

    &--great {
        .section__title {
            margin-bottom: 60px;
        }
        .great-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .great-thumb {
            width: 30%;
            padding-right: 36px;

            .text {
                margin-top: 20px;
                span {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        .great-content {
            width: 70%;
            padding-left: 5px;

            .title {
                font-size: 24px;
                margin-bottom: 30px;
            }

            .description {
                margin-bottom: 40px;
            }

            .box {
                position: relative;
                border: 2px solid #e3e3e3;
                padding: 30px 50px;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;

                .label {
                    position: absolute;
                    top: -12px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 16px;
                    font-weight: 700;
                    color: #2e922e;
                    padding: 0px 20px;
                    background-color: #fff;
                    z-index: 1;
                }

                &-text {
                    width: 50%;

                    p {
                        font-size: 13px;

                        span {
                            margin-right: 10px;
                        }
                    }

                    &:last-child {
                        text-align: right;
                        border-left: 3px solid #f1f1f1;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            border-top: 2px solid #e8e8e8;
            margin-top: 50px;
            .great-thumb {
                width: 100%;
                padding-right: 0;
                margin-bottom: 40px;
                text-align: center;

                img {
                    margin-bottom: 15px;
                }
            }

            .great-content {
                width: 100%;
                padding-left: 0;

                .title {
                    text-align: center;
                }

                .box {
                    padding: 30px 10px;
                    &-text {
                        width: 100%;
                        text-align: center;
                        &:last-child {
                            text-align: center;
                            border-left: none;
                        }
                    }
                }

                .great-button {
                    text-align: center;
                    .button {
                        width: 242px;
                        padding: 7px 18px 6px;
                    }
                }
            }
        }

        @media ( max-width: 992px ) and ( min-width: 480px ) {
            .great-thumb {
                .text {
                    span {
                        font-size: 27px;
                    }
                }
            }
            .great-content {
                .title {
                    font-size: 36px;
                    margin-bottom: 35px;
                }
                .box {
                    .label {
                        font-size: 24px;
                        top: -20px;
                    }

                    &-text {
                        width: 100%;
                        text-align: center;

                        &:last-child {
                            text-align: center;
                        }
                    }
                }
            }
        }

        @media (max-width: 479px) {
            margin-top: 25px;
            .great-content .box-text p {
                font-size: 12px;

                span {
                    margin-right: 3px;
                }
            }
        }

        @media (max-width: 340px) {
            .great-content .box-text p {
                font-size: 10px;
            }
        }
    }

    &--image {
        position: relative;
        padding: 23% 0 0;
        img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media (max-width: 991px) {
            padding-top: 63%;
        }
    }

    &--service {
        border-top: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
        padding-bottom: 90px;

        .service {
            display: flex;
            flex-wrap: wrap;

            &__title {
                width: 30%;
            }
            &__table{
                width: 70%;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    border-top: 2px solid #f1f1f1;
                    li {
                        width: 20%;
                        border-bottom: 2px solid #f1f1f1;
                        border-left: 2px solid #f1f1f1;
                        padding: 1.05rem 0.75rem;
                    }

                    .item {
                        position: relative;
                        padding-left: 25px;
                        font-size: 13px;
                        margin-left: 14px;

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 3px;
                            content: "";
                            width: 18px;
                            height: 18px;
                            background-color: #e3e3e3;
                        }
                    }
                }
            }
        }

        @media (max-width: 1237px) {
            .service__table ul .item {
                margin-left: 0;
            }
        }

        @media (max-width: 1200px) {
            .service {
                &__title {
                    width: 25%;
                }
                &__table {
                    width: 75%;

                    ul {
                        li {
                            padding: 0.3rem;
                        }
                    }
                }


            }
        }

        @media (max-width: 992px) {
            .service {
                &__title, &__table {
                    width: 100%;
                }
                &__table {
                    ul {
                        li {
                            padding: 0.75rem;
                            width: 33.333333%;

                            &:nth-child(13), &:nth-child(14), &:nth-child(15) {
                                display: none;
                            }

                            .item {
                                margin-left: 13%;
                                font-size: 19.5px;
                                padding-left: 33px;
                                &:before {
                                    width: 27px;
                                    height: 27px;
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 767px) {
            .service {
                &__table {
                    ul {
                        li {
                            width: 50%;
                            padding: 1.6rem 0.75rem;
                            .item {
                                margin-left: 70px;
                                padding-left: 35px;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 600px) {
            .service {
                &__table {
                    ul {
                        li {
                            .item {
                                margin-left: 5%;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 479px) {
            .service {
                &__table {
                    ul {
                        li {
                            border-left: none;
                            .item {
                                margin-left: 5%;
                                font-size: 13px;

                                &:before {
                                    width: 18px;
                                    height: 18px;
                                    top: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--infomation {
        background-color: #f6f6f6;

        .wrap-info {
            max-width: 930px;
            margin: auto;

            .list-info {
                li {
                    display: flex;
                    border-bottom: 2px solid #ebebeb;
                    padding: 20px 0px;
                    font-size: 13px;

                    .title {
                        width: 150px;
                    }

                    p {
                        width: calc(100% - 150px);
                    }

                    br {
                        display: none;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }

                &.style-2 {
                    li {
                        .title {
                            width: 170px;
                        }

                        br {
                            display: block;
                        }
                    }
                }
            }
        }

        @media (max-width: 991px) {
            .wrap-info {
                padding: 0px 50px;
                .list-info {
                    li{
                        br {
                            display: block;
                        }
                        .title{
                            width: 180px;
                        }
                    }
                }
            }
        }

        @media (max-width: 992px) and (min-width: 480px ){
            .wrap-info {
                .list-info {
                    li {
                        font-size: 19.5px;
                    }
                }
            }
        }

        @media (max-width: 600px) {
            .wrap-info {
                padding: 0px 15px;
                .list-info {
                    li {
                        .title {
                            width: 100px;
                        }

                        p {
                            width: calc(100% - 130px);
                        }
                    }
                    &.style-2 {
                        li {
                            .title {
                                width: 150px;
                            }
                        }
                    }
                }

            }
        }
        @media (max-width: 479px) {
            .wrap-info {
                .list-info {
                    li {
                        .title {
                            width: 88px;
                        }
                    }
                }

            }
        }
    }

    &--features{
        .sc__wrap{
            position: relative;
        }

        .features{
            &__slider{
                //&:not(.flickity-enabled){
                //    .slider__item + .slider__item{display:none}
                //}
                .slider__item{
                    outline: 0;
                    position: relative;
                    width:100%;
                    z-index: -1;
                    left: 0!important;
                    opacity: 0;
                    transition: 0.5s;
                    &__thumb{
                        width: 56%;
                        margin-left: auto;
                        padding-top: 38.6%;
                    }
                    &__date{
                        position: absolute;
                        top: -20px;
                        left:  -20px;
                        padding: 11px 20px;
                        color: #fff;
                        background-color: #2e922e;
                        line-height: normal;
                        .-text{
                            font-size: 8px;
                            text-transform: uppercase;
                        }
                        .-number{
                            font-size: 26px;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    &__box{
                        position: absolute;
                        top: 50px;
                        left: 100px;
                        width: 44%;
                        padding: 70px 50px 40px;
                        background-color: #fff;
                        box-shadow: 0px 0px 10px 1px #efefef;
                    }
                    &__title{
                        font-size: 24px;
                        line-height: normal;
                        color: #333333;
                        margin-bottom: 30px;
                    }
                    &__sub{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: normal;
                        color: #333333;
                        margin-bottom: 40px;
                    }
                    &__readmore{
                        font-size: 13px;
                        font-weight: 700;
                        display: inline-block;
                        padding: 3px 25px;
                        border: 1px solid #28a745;
                        color: #fff;
                        background-color: #2e922e;
                        img{
                            display: inline-block;
                            margin-left: 10px;
                        }
                        &:hover{
                            background-color: #fff;
                            color: #28a745;
                        }
                    }

                    &.is-selected {
                        opacity: 1;
                        z-index: 0
                    }
                }
            }
        }
        .flickity-slider {
            transform: none !important;
        }
        .slider__nav{
            position: absolute;
            bottom: 50px;
            z-index: 1;
            left: 25%;
            font-size: 14px;
            font-weight: 700;
            color: rgba(51, 51, 51, 0.15);
            .slick__arrow{
                cursor: pointer;
            }
            .slider__number--current{
                color: #333333;
            }
            .slider__next{
                margin-left: 20px;
            }
            .slider__prev{
                margin-right: 20px;
            }
        }
        @media (max-width: 1300px) {
            .slider__nav {
                bottom: 20px;
            }
        }
        @media (max-width: 1200px) {
            .slider__nav {
                bottom: 0px;
            }
        }
        @media (max-width: 1100px) {
            .slider__nav {
                bottom: 0;
            }
            .slider__item__wrap {
                padding-bottom: 40px;
            }
        }
        @media (max-width: 991px) {
            .features__slider{
                .slider__item__box {
                    width: 82%;
                    top: auto;
                    bottom: 100px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    padding: 110px 50px 40px;
                    text-align: center;
                }
                .slider__item__thumb{
                    width: 100%;
                    padding-top: 108.5%;
                }
                .slider__item__title {
                    font-size: 36px;
                    margin-bottom: 40px;
                        text-align: left;
                }
                .slider__item__sub {
                    font-size: 21px;
                    text-align: left;
                }
                .slider__item__wrap {
                    padding-bottom: 0px;
                    display: flex;
                    flex-direction: column;
                }
                .slider__item__box {
                    position: relative;
                }
                .slider__item__date{
                    top: -30px;
                    left: -30px;
                    padding: 16.9px 30px;
                    .-number {
                        font-size: 39px;
                    }
                    .-text {
                        font-size: 12px;
                    }
                }
                .slider__item__readmore {
                    font-size: 19.5px;
                }
            }
            .slider__nav {
                bottom: 30px;
                left: 0;
                right: 0;
                justify-content: center;
                font-size: 21px;
            }
        }
        @media (max-width: 575px) {
            .features__slider{

                .slider__item__box {
                    // top: 100px;
                }
                .slider__item__readmore {
                    margin-bottom: 0;
                }
                .slider__item__box {
                    padding: 100px 30px 30px;
                    text-align: center;
                }
                .slider__item__title {
                    margin-bottom: 30px;
                }
            }
        }
        @media (max-width: 525px) {
            .features__slider{

                .slider__item__readmore {
                    margin-bottom: 0;
                }

                .slider__item__box {
                    padding: 70px 30px 30px;
                }
                .slider__item__title {
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .slider__item__sub {
                    font-size: 16px;
                    margin-bottom: 30px;
                }

                .slider__item__date{
                        left: -10%;
                    padding: 5.9px 20px;
                    .-number {
                        font-size: 26px;
                    }
                    .-text {
                        font-size: 10px;
                    }
                }
                .slider__item__readmore {
                    font-size: 16px;
                }
            }
        }

        @media (max-width: 460px) {
            .features__slider{
                .slider__item__title {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                .slider__item__sub {
                    font-size: 14px;
                }

            }
        }
        @media (max-width: 360px) {

        }
    }

    &--clinic{
        .clinic{
            &__slider{
                margin-bottom: 30px;
                &:not(.flickity-enabled){
                    .slider__item + .slider__item{display:none}
                }
                .item__wrap{
                    padding:0 9.8px 0;
                    width: 280px;
                    &:nth-child(2n){
                        .slider__item__thumb{
                            margin-top: 30px;
                        }
                    }

                }
                .slider__item{
                    outline: 0;
                    position: relative;
                    text-align: center;

                    &__thumb{
                        padding-top: 71.5%;
                        overflow: hidden;
                        transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);

                        img {
                            transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
                        }

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    &__box{
                        padding: 15px 0 15px;
                        background-color: #fff;
                    }
                    &__title{
                        font-size: 16px;
                        line-height: normal;
                        color: #333333;
                        margin-bottom: 10px;
                    }
                    &__sub{
                        font-size: 13px;
                        font-weight: 500;
                        line-height: normal;
                        color: #333333;
                    }
                }
            }
        }
        .sc__readmore{
            font-size: 13px;
            font-weight: 700;
            display: inline-block;
            padding: 3px 25px;
            border: 1px solid #28a745;
            color: #fff;
            background-color: #2e922e;
            margin-top: 25px;
            img{
                display: inline-block;
                margin-left: 10px;
            }
            &:hover{
                color: #28a745;
                background-color: #fff;
            }
        }
        @media (max-width: 991px) {
            .clinic{
                &__slider{
                    margin-bottom: 50px;
                    .item__wrap {
                        width: 60%;
                        min-width: 280px;
                        &:nth-child(2n){
                            .slider__item__thumb{
                                margin-top: 0;
                            }
                        }
                        &:not(.is-selected){
                            margin-top: 30px;
                        }
                    }
                    .slider__item__title {
                        font-size: 24px;
                    }
                    .slider__item__sub {
                        font-size: 19.5px;
                    }
                }
            }
        }
        @media (max-width: 575px) {
            .clinic{
                &__slider{
                    margin-bottom: 30px;
                    .slider__item__title {
                        font-size: 22px;
                    }
                    .slider__item__sub {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &--instagram {
        padding-top: 40px;
        .title.title-section-2 {
            margin-bottom: 50px;
        }

        .instagram{
            &__slider{
                padding-bottom: 30px;
                &:not(.flickity-enabled){
                    .slider__item + .slider__item{display:none}
                }
                .item__wrap{
                    padding:0 9.8px 0;
                    width: 280px;
                }
                .slider__item{
                    outline: 0;
                    position: relative;

                    &__thumb{
                        padding-top: 100%;
                    }
                    &__box{
                        padding: 15px 0 15px;
                        background-color: #fff;
                    }
                    &__title{
                        font-size: 16px;
                        line-height: normal;
                        font-weight: 700;;
                        color: #333333;
                        margin-bottom: 5px;
                    }
                    &__sub{
                        font-size: 13px;
                        font-weight: 500;
                        line-height: normal;
                        color: #333333;
                    }
                    &__date{
                        font-size: 13px;
                        color: #c5c5c5;
                        margin-bottom: 5px;
                    }
                }
                .flickity-page-dots{
                    .dot {
                        background: #333333;
                        &.is-selected {
                            background: #2e922e;
                        }
                    }
                }
            }
        }
        .sc__readmore{
            font-size: 13px;
            font-weight: 700;
            display: inline-block;
            padding: 3px 25px;
            color: #fff;
            background-color: #2e922e;
            img{
                display: inline-block;
                margin-left: 10px;
            }
            &:hover{
                background-color: #267b26;
            }
        }
        @media (max-width: 991px) {

            .instagram{
                &__slider{
                    margin-bottom: 50px;
                    .item__wrap {
                        width: 60%;
                        min-width: 280px;
                    }
                    .slider__item__title {
                        font-size: 24px;
                    }
                    .slider__item__date{
                        font-size: 19.5px;
                    }
                    .slider__item__sub {
                        font-size: 19.5px;
                    }
                }
            }
        }
        @media (max-width: 575px) {
            .instagram{
                &__slider{
                    margin-bottom: 30px;
                    .slider__item__title {
                        font-size: 22px;
                    }
                    .slider__item__date{
                        font-size: 14px;
                    }
                    .slider__item__sub {
                        font-size: 14px;
                    }
                }
            }
        }

        @media (max-width: 991px) and (min-width: 480px) {
            .title.title-section-2 {
                margin-bottom: 75px;
            }
        }

        @media (max-width: 479px) {
            padding-top: 0;
        }
    }

    .title-section-2 {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        border-bottom: 2px solid #efefef;
        padding-bottom: 12px;
        span {
            font-family: 'Noto Serif JP', serif;
            color: #2e922e;
            font-size: 24px;
            margin-right: 10px;
        }

        @media (max-width: 992px) and (min-width: 480px ){
            span {
                font-size: 27px;
            }
        }
    }

    &--sns {
        .socials {
            display: flex;
            flex-wrap: wrap;

            &__item {
                width: 50%;
                padding-right: 35px;

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #dadada;
                    min-height: 400px;

                    .fb_iframe_widget {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }

                &:last-child {
                    padding-right: 0;
                    padding-left: 25px;
                }
            }
        }
        @media (max-width: 992px) {
            padding-bottom: 0;
            .socials {
                &__item {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 40px;
                    overflow: hidden;

                    &:last-child {
                        padding-left: 0;
                    }
                }
            }
        }

        @media (max-width: 992px) and (min-width: 480px ){
            .socials {
                &__item {
                    .title {
                        span {
                            font-size: 27px;
                        }
                    }
                }
            }
        }
    }

    &--visca-clinic {
        .clinic {
            display: flex;
            flex-wrap: wrap;
            &__content {
                width: 41%;
                .schedule {
                    border: 2px solid #f0f0f0;
                    padding: 30px 40px 20px;
                    border-radius: 0;
                    font-size: 12px;
                    margin-top: 30px;
                    margin-bottom: 10px;

                    .table-schedule th, .table-schedule td {
                        padding: 5px 12px;
                    }
                }

                .text {
                    p {
                        margin-bottom: 15px;

                       br {
                           display: none;
                       }
                    }
                }

                .phone {
                    display: flex;
                    align-items: center;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    margin-bottom: 12px;

                    img {
                        max-width: 19px;
                        margin-right: 15px;
                    }
                }
            }

            &__list {
                width: 59%;
                padding-left: 50px;
                padding-top: 55px;

                li {
                    padding-bottom: 17px;
                    margin-bottom: 17px;
                    border-bottom: 1px solid #f1f1f1;
                    font-size: 13px;

                    .title {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }

        @media (max-width: 1250px) {
            .clinic {
                &__content {
                    width: 45%;
                }

                &__list {
                    width: 55%;
                }
            }
        }

        @media (max-width: 1200px) {
            .clinic {
                &__content {
                    .schedule {
                        padding: 10px 0px;

                        .table-schedule {
                            thead th:first-child {
                                width: 107px;
                            }
                             th, td {
                                 padding: 5px 3px;
                                 min-width: 44px;
                             }
                        }
                    }
                }
            }
        }
        @media (max-width: 991px) {
            .clinic {
                &__content, &__list {
                    width: 100%;
                    padding: 0;
                }

                &__content {
                    margin-bottom: 70px;
                    .schedule {
                        max-width: 100%;
                        .table-schedule {
                            min-width: 100%;
                        }
                    }

                    .text {
                        p {
                            br {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 992px) and (min-width: 480px ) {
            .clinic {
                &__content {
                    .schedule {
                        font-size: 18px;
                        .table-schedule {
                            thead th:first-child {
                                font-size: 19.5px;
                                width: 150px;
                            }
                        }
                    }

                    .text {
                        font-size: 19px;
                        p {
                            margin-bottom: 20px;
                        }
                    }

                    .phone {
                        font-size: 42px;
                        margin-bottom: 17px;

                        img {
                            max-width: 100%;
                        }
                    }
                }
                &__list {
                    li {
                        .title {
                            font-size: 28px;
                        }
                    }
                }
            }
        }

        @media (max-width: 479px) {
            padding-top: 30px;
            .clinic {
                &__content {
                    .schedule {
                        font-size: 10px;
                        .table-schedule {
                            thead th:first-child {
                                font-size: 12px;
                            }

                            th, td {
                                min-width: 30px;
                                padding: 5px 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    &--maps {
        padding: 0px 0px 40px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        iframe {
            width: 100%;
            @media ( max-width: 479px ) {
                height: 340px;
            }

        }
    }

    &--contact {
        padding: 40px 0px;

        .contact-home {
            border: 10px solid #2e922e;
            max-width: 1020px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: 630px) {
                border: 5px solid #2e922e;
            }

            .title {
                font-size: 16px;
                margin-bottom: 20px;
                font-weight: 700;

                @media ( max-width: 992px ) and ( min-width: 480px ) {
                    font-size: 24px;
                    margin-bottom: 30px;
                }

                span {
                    border-bottom: 1px solid #2e922e;
                }
            }

            &__phone {
                padding: 45px 0px 40px 70px;
                width: 36%;

                @media ( max-width: 992px ) {
                    padding: 60px 50px 40px;
                }

                @media (max-width: 630px) {
                    padding: 30px 15px 15px;
                }

                .font-size12 {
                    font-size: 12px;
                }

                .border-phone {
                    border-right: 1px solid #e7e7e7;

                    @media ( max-width: 992px ) and ( min-width: 480px ) {
                        border-right: none;
                        p {
                            font-size: 21px;
                            line-height: 30px;

                            &.font-size12 {
                                font-size: 18px;
                            }
                        }
                    }

                    @media (max-width: 479px ){
                        border-right: none;
                    }

                }

                .phone {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    img {
                        margin-right: 15px;
                        max-width: 19px;
                    }

                    a {
                        font-size: 28px;
                        font-weight: 700;
                        letter-spacing: 2px;
                    }

                    @media ( max-width: 992px ) and ( min-width: 480px ) {
                        margin-bottom: 30px;

                        a {
                            font-size: 42px;
                        }

                        img {
                            max-width: max-content;
                        }
                    }

                    @media ( max-width: 340px ) {
                        a {
                            font-size: 24px;
                        }
                    }
                }
            }

            &__qr {
                padding: 45px 0px 40px 50px;
                width: 42%;

                .code-qr {
                    display: flex;
                    margin-bottom: 15px;

                    .icon {
                        img {
                            max-width: 36px;
                        }
                        margin-right: 12px;
                    }

                    .content {
                        margin-top: -6px;

                        p {
                            font-size: 13px;
                        }
                    }
                }
                .qr-button{
                    .button{
                        margin-bottom: 5px;
                    }
                }
                @media (max-width:992px){
                    .qr-button{
                        .button{
                            padding: 5px 19px 4px;
                            width: calc(50% - 4px);
                            min-height: 45px;
                            line-height: normal;
                            font-size: 20px;
                            img {
                                top: -3px;
                            }
                        }
                    }
                }

                @media ( max-width: 992px ) and ( min-width: 480px ) {
                    padding: 0px 50px;
                    margin-bottom: 30px;

                    .code-qr {
                        .icon {
                            img {
                                max-width: max-content;
                            }
                        }
                        .content {
                            margin-top: -2px;

                            p {
                                font-size: 19px;
                                line-height: 30px;
                            }
                        }
                    }
                }

                @media (max-width: 630px) {
                    padding: 0px 15px;
                    margin-bottom: 30px;
                    .qr-button{
                        .button{
                            width: auto;
                            min-width: 240px;
                        }
                    }
                }

                @media (max-width: 479px) {
                    .qr-button {
                        .button {
                            width: 100%;
                            display: block;
                            font-size: 16px;
                            min-height: auto;
                        }
                    }
                }
                @media ( max-width: 340px ) {
                    .code-qr {
                        .content {
                            p {
                                font-size: 11px;
                            }
                        }
                    }
                    .qr-button{
                        .button{
                            min-width: 220px;
                        }
                    }
                }

            }

            &__featured {
                display: flex;
                align-items: flex-end;
                width: 22%;

                @media ( max-width: 992px ) {
                    justify-content: flex-end;
                }
            }

            @media ( max-width: 992px ) {
                &__phone, &__qr, &__featured {
                    width: 100%;
                }

                &__featured {
                    justify-content: center;
                }
            }

            @media ( max-width: 600px ) {
                &__featured {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
