.page-info {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #e7e7e7;

    &__left {
        width: 22%;
        border-right: 2px solid #e7e7e7;

        .item {
            min-height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 20px 0px 40px;
            border-bottom: 2px solid #e7e7e7;

            .title {
                font-size: 18px;
                font-weight: 700;
                color: $color-green;
                margin-bottom: 15px;
            }

            p {
                line-height: 24px;
                font-weight: 500;

                &.none {
                    display: none;
                }
            }
        }
    }
    &__right {
        width: 78%;
        padding-bottom: 100px;
    }

    .list-new {
        padding-top: 30px;
        li {
            padding: 0px 50px 20px;

            .meta {
                margin-bottom: 10px;

                &.style-2 {
                    font-size: 13px;
                    span {
                        font-size: 13px;
                        font-weight: 500;
                        margin-right: 5px;
                    }
                }
            }

            .link {
                a, span {
                    font-size: 24px;
                    line-height: 42px;
                    font-family: 'Yu Mincho', sans-serif;
                }
            }
        }
    }

    @media (max-width: 992px ){
        &__left {
            border-top: 2px solid #e7e7e7;
            border-right: none;
            width: 100%;
            order: 2;

            .item {
                display: block;
                padding: 50px 20px 0px 40px;
                &:last-child {
                    border-bottom: none;
                }

                p {
                    width: 50%;
                    float: left;
                    padding: 5px 0px;

                    &.none {
                        display: block;
                    }
                }
            }
        }
        &__right {
            width: 100%;
            order: 1;

            &.detail {
                padding-bottom: 40px;
            }
        }
    }

    @media (max-width: 992px ) and (min-width: 480px ){
        &__left {
            .item {
                .title {
                    font-size: 27px;
                }
            }
        }
        .list-new {
            li {
                padding: 20px 30px 35p;
                .meta.style-2 {
                    font-size: 19px;
                    span {
                        font-size: 19px;
                    }
                }
                .link {
                    a, span {
                        font-size: 36px;
                        line-height: 63px;
                    }
                }
            }
        }
    }
    @media (max-width: 767px ){
        .list-new li {
            padding: 20px 25px 30px;
        }
    }

    @media (max-width: 479px ){
        &__left {
            .item {
                padding: 30px 25px 0px 25px;
            }
        }
    }

    //page detail

    &-detail {
        padding-bottom: 100px;
        border-bottom: 2px solid #e7e7e7;
        margin-bottom: 50px;

        .thumb {
            padding: 70px 0px 30px;
        }

        .content {
            padding: 0px 40px;

            h2 {
                font-size: 24px;
                line-height: 33px;
                border-bottom: 2px solid #2e922e;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 18px;
                line-height: 31px;
                margin-bottom: 10px;
            }
            h4 {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 10px;
            }
            h5 {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 10px;
                font-weight: 700;
                font-family: 'YuGothic', sans-serif;
            }
            br {
                display: none;
            }

            .sub, .text {
                border-bottom: 2px solid #e7e7e7;
            }

            .text {
                margin-bottom: 20px;
                h3{
                    
                    &:before{
                        content: "";
                        width: 2px;
                        height: 18px;
                        display: inline-block;
                        position: relative;
                        top: 1px;
                        background: #2e922e;
                        margin-right: 10px;
                    }
                }
            }

            .bottom {
                h5 {
                    margin-bottom: 20px;
                }
            }
        }

        @media (max-width: 992px ) {
            padding-bottom: 40px;
            margin-bottom: 30px;

            .thumb {
                padding: 20px 25px 20px;
            }
            .content {
                h2 {
                    border-bottom: none;
                    text-decoration: underline;
                    text-decoration-color: #2e922e;
                }
                br {
                    display: block;
                }
                .text {
                    h3{
                        &:before{
                            content: "";
                            width: 4px;
                            height: 27px;
                        }
                    }
                }
            }
          

        }

        @media (max-width: 767px ){
            .content {
                padding: 0 25px;
            }

        }

        @media (max-width: 992px ) and (min-width: 480px ) {
            .content {
                h2 {
                    font-size: 36px;
                    line-height: 63px;
                }

                h3 {
                    font-size: 27px;
                    line-height: 47px;
                }

                h4 {
                    font-size: 24px;
                    line-height: 42px;
                }

                h5 {
                    font-size: 21px;
                    line-height: 36px;
                }


            }
        }
    }
}
