$color_primary: #2E922E;

.container{
    width: calc(100% - 20px);
    @media screen and (min-width: 768px){
        width: calc(100% - 70px);
        max-width: 1440px;
    }
    @media screen and (min-width: 1280px){
        width: calc(100% - 80px);
    }
    @media (max-width:767.98px){
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
}
.padding-mobile {
    @media (max-width:767.98px){
        padding: 0px 25px;
    }
}
.box-layout{
    @media screen and (max-width: 767px){
        max-width: 100%;
        padding: 0;
        .section--visca-clinic{
            .clinic__content{
                padding: 30px 25px;
            }
        }
        .schedule {
            width: 100%;
        }
        .table-schedule{margin: auto;}

    }

}
.box-layout__wrap {
    border-width: 0px 2px;
    border-style: solid;
    border-color: #E7E7E7;
    @media screen and (max-width: 767px){
        border-width: 0px;
    }
}

.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}
.dnfix__thumb {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    img {
        transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}
/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}

/* fix col */
.row.no-gutters20{margin-right:-10px;margin-left:-10px}
.row.no-gutters20 > [class^="col-"],.row.no-gutters20 > [class*=" col-"]{padding-right:10px;padding-left:10px}

/*Effect*/
[data-animate],.slider [data-animate]{will-change:filter,transform,opacity;-webkit-backface-visibility:hidden;animation-fill-mode:forwards;opacity:0!important;transition:filter 1.3s,transform 1.6s,opacity 0.7s ease-in}
[data-animate="bounceInLeft"],[data-animate="bounceInUp"],[data-animate="bounceInDown"],[data-animate="bounceInRight"],.slider [data-animate="bounceInLeft"],.slider [data-animate="bounceInUp"],.slider [data-animate="bounceInDown"],.slider [data-animate="bounceInRight"]{transition:transform 0.8s cubic-bezier(0,0.195,0,1.465),opacity 0.5s ease-in}
[data-animate="bounceInLeft"],.slider [data-animate="bounceInLeft"]{transform:translate3d(-300px,0,0)}
[data-animate="blurIn"],.slider [data-animate="blurIn"]{filter:blur(15px)}
[data-animate="fadeInLeft"],.slider [data-animate="fadeInLeft"]{transform:translate3d(-70px,0,0)}
[data-animate="fadeInRight"],.slider [data-animate="fadeInRight"]{transform:translate3d(70px,0,0)}
[data-animate="bounceInUp"],[data-animate="fadeInUp"],.slider [data-animate="bounceInUp"],.slider [data-animate="fadeInUp"]{transform:translate3d(0,70px,0)}
[data-animate="bounceInRight"],.slider [data-animate="bounceInRight"]{transform:translate3d(300px,0,0)}
[data-animate="bounceIn"],.slider [data-animate="bounceIn"]{-ms-transform:scale(1.3);transform:scale(1.3)}
[data-animate="bounceInDown"],[data-animate="fadeInDown"],.slider [data-animate="bounceInDown"],.slider [data-animate="fadeInDown"]{transform:translate3d(0,-70px,0)}
[data-animate="flipInY"],.slider [data-animate="flipInY"]{transform:perspective(400px) rotate3d(0,1,0,-90deg) translate3d(15px,0,0);-webkit-backface-visibility:visible;backface-visibility:visible}
[data-animate="flipInX"],.slider [data-animate="flipInX"]{transform:perspective(400px) rotate3d(1,0,0,90deg) translate3d(0,-15px,0);-webkit-backface-visibility:visible;backface-visibility:visible}
[data-animated="true"],.slider .is-selected [data-animated="true"][data-animated="true"]{animation-delay:.5s;transform:translate3d(0,0,0) scale(1);opacity:1!important}
.flickity-slider>*:not(.is-selected) [data-animated="true"]{transition:opacity 0.3s!important}
[data-animate="none"],.slider [data-animate="none"]{opacity:1!important}
[data-animated="true"][data-animate="blurIn"],.slider [data-animate="blurIn"][data-animated="true"]{filter:blur(0)}
[data-animated="false"]{transition:none!important}
.has-shadow [data-animate],[data-animate]:hover{transition-delay:0s!important}
[data-animate-delay="600"]{transition-delay:.6s!important}
[data-animate-delay="800"]{transition-delay:.8s!important}



.button__fix {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    right: 0px;
    background: #2e922e;
    color: #fff;
    padding: 8px 18px;
    font-size: 13px;
    line-height: 22px;

    a{
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    &:hover{
        background-color: #257325;
    }
}
