.footer {
    &__menu {
        background: #3f3f3f;
        padding: 90px 0px;

        ul {
            display: flex;
            justify-content: center;

            li {
                a {
                    color: #ffffff;
                    position: relative;
                    padding: 0px 38px;

                    &:after {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        content: "";
                        background: #fff;
                    }

                    &:hover {
                        color: #2e922e;
                    }
                }

                &:last-child {
                    a {
                        &:after {
                            content: none;
                        }
                    }

                }
            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__bottom {
        background: #333333;
        padding: 35px 0px;
        p {
            color: #ffffff;
            font-size: 12px;
        }

        @media (max-width: 992px) {
            p {
                font-size: 18px;
            }
        }
        @media (max-width: 479px) {
            p {
                font-size: 14px;
            }
        }

        @media (max-width: 324px) {
            .footer__bottom p {
                font-size: 12px;
            }
        }

    }
}

.pagetop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2e922e;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #fff;
        font-size: 14px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
